---
---

<!DOCTYPE html>
<html amp lang="en">

<head>

	<title>Red Xpress &ndash; Restaurant &amp; Pub</title>
	
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="copyright" content="Copyright 2016 - Revellerz Pvt Ltd - All right reserved">
	<meta name="robots" content="index,nofollow"> <!-- no need to index internal links -->
	<meta name="keywords" content="restaurant, bar, pub, kolkata, diner, buffet"> <!-- add, if needed -->
	<meta name="description" content="Red Xpress is a fine-dine restaurant and pub in Sector 5, Salt Lake, Kolkata. Indulge in our mouth watering savouries and take a plunge into the wide array of finest drinks - all at pocket friendly prices!!">
	<!-- <script async type="application/ld+json" src="about.js"></script> -->

	<!-- EXTERNAL -->
	<link rel="canonical" href="https://redxpresskolkata.com">
	<link rel="shortcut icon" href='/favicon.ico' type="image/x-icon">
	<link rel="shortcut icon" href="/logo.svg" type="image/svg+xml" sizes="any">
	<link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"> 
		
	<!-- CSS -->
	{% capture styles %} {% include_relative _sass/index.scss %} {% endcapture %}
	<style amp-custom> {{ styles | scssify }} </style>
	<!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
	<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
	<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

	<!-- AMP elements -->
	<script async src="https://cdn.ampproject.org/v0.js"></script>
	<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>
	<script async custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"></script>
	<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
	<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>

</head>

<body>
	{% include header.htm   %}	
	{% include offers.htm   %}
	{% include description.htm %}
	{% include stats.htm    %}
	{% include gallery.htm  %}
	{% include contact.htm  %} 
	<footer>&copy; Revellerz Pvt Ltd, 2016</footer>
</body>

</html>

<!-- 
contact
menus
seo-info
gallery
reviews
----
email
socials
adsense
-->