<section id=contact>
	<form method="post" action-xhr="#" target="_top">
		<h2>BOOKING &amp; RESERVATION</h2>
		<p>Provide your phone/email and we will contact you for details and confirmation.</p>
		<span>
			<input type="text" name="msg" placeholder="Your phone / email">
			<button class="button filled" type="submit">
				{% include _icon name="send" %}
			</button>
		</span>
		<div submit-success> Thank you! We will contact you soon.</div>
		<div submit-error> Thank you! We will contact you soon.</div>
	</form>
	<div>
		<amp-iframe height=250 layout="fixed-height" sandbox="allow-scripts allow-same-origin" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14736.263357082073!2d88.42269404702147!3d22.57664073224781!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b3957b9d106cbec!2sRed%20Xpress%20Restaurant%20%26%20Bar!5e0!3m2!1sen!2sin!4v1610618138827!5m2!1sen!2sin">
	</div>
</amp-iframe>
</section>